
/*
Thanks for using FonitfyJS here can you manage all of the proccesed fonts for your project, enjoy!
*/

@font-face {
    font-family: 'agdasima_regular';
    src: url('/Users/yeray/Documents/lib/FontifyJS/tests/my-react-project/public/fonts/fontify/agdasima/agdasima_regular.woff2') format('woff2');
}


@font-face {
    font-family: 'agdasima_bold';
    src: url('/Users/yeray/Documents/lib/FontifyJS/tests/my-react-project/public/fonts/fontify/agdasima/agdasima_bold.woff2') format('woff2');
}


@font-face {
    font-family: 'roboto_lightitalic';
    src: url('/Users/yeray/Documents/lib/FontifyJS/tests/my-react-project/public/fonts/fontify/roboto/roboto_lightitalic.woff2') format('woff2');
}


@font-face {
    font-family: 'roboto_mediumitalic';
    src: url('/Users/yeray/Documents/lib/FontifyJS/tests/my-react-project/public/fonts/fontify/roboto/roboto_mediumitalic.woff2') format('woff2');
}


@font-face {
    font-family: 'roboto_regular';
    src: url('/Users/yeray/Documents/lib/FontifyJS/tests/my-react-project/public/fonts/fontify/roboto/roboto_regular.woff2') format('woff2');
}


@font-face {
    font-family: 'roboto_thin';
    src: url('/Users/yeray/Documents/lib/FontifyJS/tests/my-react-project/public/fonts/fontify/roboto/roboto_thin.woff2') format('woff2');
}


@font-face {
    font-family: 'roboto_italic';
    src: url('/Users/yeray/Documents/lib/FontifyJS/tests/my-react-project/public/fonts/fontify/roboto/roboto_italic.woff2') format('woff2');
}


@font-face {
    font-family: 'roboto_bold';
    src: url('/Users/yeray/Documents/lib/FontifyJS/tests/my-react-project/public/fonts/fontify/roboto/roboto_bold.woff2') format('woff2');
}


@font-face {
    font-family: 'roboto_thinitalic';
    src: url('/Users/yeray/Documents/lib/FontifyJS/tests/my-react-project/public/fonts/fontify/roboto/roboto_thinitalic.woff2') format('woff2');
}


@font-face {
    font-family: 'roboto_blackitalic';
    src: url('/Users/yeray/Documents/lib/FontifyJS/tests/my-react-project/public/fonts/fontify/roboto/roboto_blackitalic.woff2') format('woff2');
}


@font-face {
    font-family: 'roboto_bolditalic';
    src: url('/Users/yeray/Documents/lib/FontifyJS/tests/my-react-project/public/fonts/fontify/roboto/roboto_bolditalic.woff2') format('woff2');
}


@font-face {
    font-family: 'roboto_black';
    src: url('/Users/yeray/Documents/lib/FontifyJS/tests/my-react-project/public/fonts/fontify/roboto/roboto_black.woff2') format('woff2');
}


@font-face {
    font-family: 'roboto_light';
    src: url('/Users/yeray/Documents/lib/FontifyJS/tests/my-react-project/public/fonts/fontify/roboto/roboto_light.woff2') format('woff2');
}


@font-face {
    font-family: 'roboto_medium';
    src: url('/Users/yeray/Documents/lib/FontifyJS/tests/my-react-project/public/fonts/fontify/roboto/roboto_medium.woff2') format('woff2');
}


@font-face {
    font-family: 'agdasima_regular';
    src: url('/Users/yeray/Documents/lib/FontifyJS/tests/my-react-project/public/fonts/fontify/agdasima_copy/agdasima_regular.woff2') format('woff2');
}


@font-face {
    font-family: 'agdasima_bold';
    src: url('/Users/yeray/Documents/lib/FontifyJS/tests/my-react-project/public/fonts/fontify/agdasima_copy/agdasima_bold.woff2') format('woff2');
}